.modal-body {
    font-size: 22px
}

#modalMessageContent {
    font-size: 22px
}

.alert-modal button.close{
    font-size: 50px;
    position: fixed;
    top: 6%;
    right: 2%;
}

.floating-controller{
	/*background-color: purple;*/
    position: fixed;
    opacity: 0.75;
    width: 210px;
    height: 36px;
    z-index: 10;
    bottom: 10px;
    right: 20px;
    color:whitesmoke;
    font-size: 23px;
}

.floating-controller button{
	font-size: initial;
}
#btnSubmit{
	margin-top: 35px;
}
.hidden{
    display: none!important;
}
.robot_name
{
    font-size: 18px;
}
.selection-body{
    text-align:center;
}

#modalID .modal-header{
    text-align:center;
}

#rotateControlsFloater{
    background-color: green;
    position: fixed;
    opacity: 0.75;
    /*width: 470px;*/
    /*height: 36px;*/
    z-index: 10;
    top: 250px;
    right: 20px;

}

.rotator-button{
    font-weight: 900
}

#spinnerIcon{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}
#dynamicList{
    list-style: none;
}

div.show-on-load {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.show-on-load>i {

}
